.spon-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.spon-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.spon-column img {
  margin-top: 8px;
  margin-right: 18px;
  margin-bottom: 8px;
  margin-left: 20px;

  width: 300px;
  height: 300px;
}